.PL-nav {
  background-color: var(--purple-2);
}

.PL-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 3em;
  padding: 1em;
}
.PL-body {
  background-color: #f2f2f2;
}

@media only screen and (min-width: 700px) {
  .PL-section {
    display: flex;
  }

  .PL-body {
    width: 80%;
    min-height: calc(100vh - 5em);
  }
  .PL-nav {
    width: 20%;
    min-height: calc(100vh - 3em);
  }
}
