.PL-con {
  min-height: 100vh;
}

.PL-nav {
  background-color: var(--purple-2);
}

.PL-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}
.header-gray {
  background-color: var(--gray-1);
}
.header-purple {
  background-color: var(--purple-3);
}

.PL-header i {
  font-size: 1.7em;
}
.PL-body {
  background-color: var(--gray-1);
  min-height: calc(100vh - 3em);
}

.PL-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.soln {
  display: none;
}

@media only screen and (min-width: 700px) {
  .soln {
    display: inline-block;
    margin-left: 0.5em;
  }
  .PL-section {
    flex-direction: row;
  }

  .header-gray,
  .header-purple {
    background-color: var(--purple-3);
  }
  .PL-body {
    width: 80%;
    min-height: calc(100vh - 5em);
  }
  .PL-nav {
    width: 35%;
    min-height: calc(100vh - 5em);
  }

  #PL-toggle-btn {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .PL-nav {
    width: 30%;
  }
}

@media only screen and (min-width: 900px) {
  .PL-nav {
    width: 25%;
  }
}

@media only screen and (min-width: 1000px) {
  .PL-nav {
    width: 20%;
  }
}
@media only screen and (min-width: 1200px) {
  .PL-nav {
    width: 15%;
  }
  .PL-body {
    width: 85%;
  }
}
