.register-con {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0px;
}

.register-con-top {
  width: 50%;
  height: 100%;
  background-color: #f2f2f2;
}

.register-con-bottom {
  width: 50%;
  height: 100%;
  align-items: center;
}

.register-con-top,
.register-con-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.login-con-top-h1,
.login-con-top-h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 0.3em;
}
