.PU-con {
  padding: 1em 1.5em;
  border-radius: 5px;
  text-align: center;
  margin: 2em 0px;
}

.PU-con i {
  float: right;
  cursor: pointer;
}

.PU-hide {
  display: none;
}

.PU-show {
  display: block;
}

.PU-success {
  background-color: var(--purple-3);
  color: var(--purple-2);
}

.PU-failure {
  background-color: rgb(231, 157, 157);
  color: rgb(22, 3, 3);
}
