/* Login Form Component Styles */
.LF-con input::placeholder {
  padding-left: 1em;
}

.LF-con input:focus,
.LF-con button {
  outline: none;
}

.LF-btn-con {
  width: 8em;
  margin-top: 2em;
  margin-left: 0.5em;
}

.LF-con button {
  background-color: var(--blue-1);
}

.LF-con button:hover {
  background-color: #190f57;
}

#btn-waiting {
  cursor: wait;
}
