.FB-con button {
  color: white;
  background-color: var(--purple-2);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 1.2em 2em;
  outline: none;
  width: 100%;
  height: 100%;
}

.FB-con button:hover {
  background-color: #050311;
}

.FB-con button:disabled {
  cursor: not-allowed;
  background-color: var(--gray-2);
}

#btn-waiting {
  cursor: progress;
}
