.FP-select {
  width: 100%;
  height: 3.5em;
  border: white;
  background-color: rgb(196, 222, 240);
  margin-top: 2em;
  padding: 0em 2em;
}

.FP-btn {
  margin: 1em 0em;
  width: calc(100% - 8em);
  margin: auto;
  margin-top: 1em;
}

.FP-btn button {
  background-color: var(--blue-1);
}
