.LH-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LH-img-con {
  width: 100%;
  height: 40%;
}
.LH-img-con img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.LH-h1 {
  font-size: 2em;
  color: #42378c;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 700px) {
  .LH-con h1 {
    text-align: center;
  }
}
