.FI-con input {
  width: 100%;
  height: 3.5em;
  border-radius: 25px;
  border: white;
  background-color: white;
  margin-top: 2em;
  padding-left: 2em;
}

.FI-con-md {
  display: flex;
  align-items: center;
}
.FI-con label::after {
  content: "*";
  color: red;
}
.FI-con input::placeholder {
  padding-left: 0em;
}

.FI-con input:focus {
  outline: none;
}

/* input[type="password"] styles section */
.FI-password {
  display: flex;
  align-items: center;
  height: 3em;
  border-radius: 25px;
  background-color: white;
  margin-top: 2em;
}

.FI-password input,
.FI-password span {
  background-color: white;
  box-sizing: border-box;
  outline: none;
  margin: 0px;
}

.FI-password input {
  width: 90%;
}

.FI-password span {
  display: flex;
  align-items: center;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

@media only screen and (min-width: 700px) {
  .FI-password input {
    width: 85%;
  }
}
