.LF-con input {
  width: 100%;
  height: 3.5em;
  border-radius: 25px;
  border: white;
  background-color: white;
  margin-top: 2em;
  padding-left: 2em;
}
.LF-con input::placeholder {
  padding-left: 1em;
}

.LF-con input:focus,
.LF-con button {
  outline: none;
}

.LF-con button {
  width: 10em;
  height: 3.5em;
  color: white;
  background-color: #42378c;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  margin-top: 1em;
}

.LF-con button:hover {
  background-color: #050311;
}

.LF-con button:disabled {
  cursor: wait;
}

.LF-con button:disabled {
  background-color: var(--gray-2);
}
