/* Employee Layout componet style section */
.EL-con {
  width: 90vw;
  margin: 2em auto;
  border: 2px solid var(--purple-3);
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}
.EL-con-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--purple-2);
  padding: 1em 2.2em;
  align-items: center;
}

.EL-con-header input,
.EL-con-header button {
  height: 2em;
  margin-top: 1em;
}
.EL-con-header input,
.EL-con-header input::placeholder {
  padding-left: 0.5em;
}
.EL-con-header button {
  margin-left: 0.5em;
  padding: 0 1em;
  background-color: var(--purple-2);
  color: white;
}
.EL-btn {
  padding: 0.6em 1em;
  color: var(--gray-1);
  width: 5em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.EL-btn-del {
  background-color: rgb(114, 7, 7);
  border: 1px solid var(--purple-2);
  display: inline-block;
}

.EL-btn-pagination {
  display: flex;
  justify-content: center;
}
.EL-btn-pagination button {
  background-color: var(--purple-2);
}

/* Employee Layout component table section styles  */
.EL-table-con {
  overflow: auto;
}
.EL-table {
  margin: auto;
  padding: 1em 2em;
}

.EL-table th,
.EL-table td {
  text-align: center;
  border: 1px solid white;
}
.EL-table th {
  padding: 15px;
}

.EL-table tr {
  border: 1px solid white;
}

.EL-table tbody tr:nth-child(odd) {
  background-color: var(--purple-3);
}
.EL-table tbody tr:nth-child(even) {
  background-color: white;
}

.EL-table thead {
  background-color: var(--purple-2);
  color: var(--gray-1);
}

.EL-ft {
  font-weight: bold;
  font-size: small;
  margin: 1em 0.5em;
}
.EL-btn-detail {
  border: 0px;
  color: var(--purple-2);
  cursor: pointer;
  outline: none;
  background-color: inherit;
}

@media only screen and (min-width: 700px) {
  .EL-con {
    width: 90%;
    overflow: hidden;
    min-height: 90%;
    border: 0;
  }

  .EL-table {
    width: 100%;
  }

  .EL-ft {
    position: absolute;
    bottom: 3em;
    left: 25%;
    margin: 0;
  }
}
